* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lora', serif;
    font-family: 'Silkscreen', cursive;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    background: black;
    height: 100vh;
    background-image: url("backgroud.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile > img {
    width: 200px;
    height: 200px;
    border 3px solid #222;
    border-radius: 100%;
}

.profile > p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.link > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    border: 3px solid #222;
    background-color: transparent;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500px;
}

.link > a:hover {
    background-color: aquamarine;
}

.footer {
    text-align: center;
}

.footer > b {
    color: white;
    font-size: 20px;
}